{% extends "layout.html" %}

{% block title %}
    Give
{% endblock %}
{% block body %}
<section class="container">
    <div class="reg">
        <form action="/give" method="POST" class="login" enctype="multipart/form-data">
            <input type="text" placeholder="Location" class="form-control" name="location" id='ad'>
            <input type="text" placeholder="Description" class="form-control" name="description" id="de">

            {{ form.image (class="btn btn-primary") }}
            <div></div>
            <button id='sub' type="submit" class="btn btn-primary reg" style = "padding-top: 10px; margin-top: 5%;" disabled>Give</button>
        </form>
    </div>
</section>
<script>
    document.getElementById('ad').onkeyup = function Keyup() {
        if (document.getElementById('ad').value === "" ||
        document.getElementById('de').value === "")
        {
            document.getElementById('sub').disabled = true
        }
        else {
            document.getElementById('sub').disabled = false
        }
    };

    document.getElementById('de').onkeyup = function Keyup() {
        if (document.getElementById('ad').value === "" ||
        document.getElementById('de').value === "")
        {
            document.getElementById('sub').disabled = true
        }
        else {
            document.getElementById('sub').disabled = false
        }
    };

    document.getElementById('re').onkeyup = function Keyup() {
        if (document.getElementById('ad').value === "" ||
        document.getElementById('de').value === "")
        {
            document.getElementById('sub').disabled = true
        }
        else {
            document.getElementById('sub').disabled = false
        }
    };
</script>
{% endblock %}
